<div>


    <div class="ml-auto my-3">
        <form action="/admin/archive/add" method="post">
            <input class='form-control' type="submit" value="Добавить концерт" name="submit">
        </form>

    </div>
    {{#each events}}
    <div rowId="{{this.id}}" class="row searchable event-row">


        <div class="concert  col-xl-8 col-md-10 offset-xl-2 offset-md-1 col-10 offset-1">
            <div class="row">
                <div class="col-12 col-md-4 p-0">
                    <img class="poster" loading=lazy src="/img/posters/{{this.id}}.jpg" alt="">
                    <form class="form-group" action="/admin/archive/posterupload" method="post"
                        enctype="multipart/form-data">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <input class='form-control fileToUpload' type="file" name="fileToUpload">
                    </form>
                </div>
                <div class="col-12 col-md-8 p-4">

                    <form class='form-group' action="/admin/archive/edit" id="edit-form-{{this.id}}" method="POST">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <textarea name="title" class="form-control w-100" placeholder="Название" rows="1">{{this.title}}</textarea>
                        <textarea name="description" placeholder="Описание"  class="form-control w-100"
                            rows="10">{{this.description}}</textarea>
                        <textarea name="ticket" class="form-control w-100" rows="2" placeholder="Ссылка на сайт с билетами" >{{this.ticket}}</textarea>
                        {{!-- <textarea name="date" class="form-control w-100" rows="1">{{this.date}}</textarea> --}}
                        <input type="datetime-local" class="form-control" name="date"  value="{{this.date}}">
                        <textarea name="place" placeholder="Зал" class="form-control w-100" rows="1">{{this.place}}</textarea>
                        <div class="form-check">
                            <input type="checkbox" name="hidden" value='1'  id="hidden" {{#if this.hidden}} checked{{else}}{{/if}}>
                            <label class="form-check-label">Скрыть концерт из афиши</label>
                        </div>
                    </form>

                </div>

                <div class="col-12">
                    <div class="form-group">
                        <input name='{{this.id}}' class='delete-button form-control' class="btn btn-sm btn-secondary"
                            type="submit" value="Удалить концерт"></input>
                        <input name='edit-form-{{this.id}}' class='save-button form-control' type="submit"
                            value="Сохранить концерт"></input>

                    </div>

                </div>
            </div>
        </div>


    </div>
    {{/each}}




  {{> deleteModal}}


</div>







<script type="text/javascript" src="https://code.jquery.com/color/jquery.color-2.1.2.js"></script>
<script type="text/javascript" src="/scripts/admin.js"></script>
<script>
    $(document).ready(function () {
        posterUploadSetEvent('/admin/concerts/posterupload');
        deleteWithModalSetEvent('/admin/archive/delete');
        saveSetEvent("/admin/archive/edit");
    });
    
</script>