    <div class="ml-auto my-3">
        <form action="/admin/artists/add" method="post">
            <input class='form-control' type="submit" value="Добавить артиста" name="submit">
        </form>

    </div>
<div class="row">

    {{#each artists}}
    <div rowId="{{this.id}}" class="row col-lg-6 col-xl-4 col-12 searchable event-row">


        <div class="concert  col-11 offset-1">
            <div class="row">
                <div class="col-12 col-md-4 p-0">
                    <img class="poster" loading=lazy src="/img/about/artists/{{this.id}}.jpg" alt="">
                    <form class="form-group" action="/admin/artists/posterupload" method="post"
                        enctype="multipart/form-data">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <input class='form-control fileToUpload' type="file" name="fileToUpload">
                    </form>
                </div>
                <div class="col-12 col-md-8 p-4 form-container">

                    <form class='form-group' action="/admin/artists/edit" id="edit-form-{{this.id}}" method="POST">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <textarea name="name" class="form-control w-100" placeholder="Имя"  rows="1">{{this.name}}</textarea>
                        <textarea name="instrument" class="form-control w-100" placeholder="Инструмент"  rows="1">{{this.instrument}}</textarea>
                        <textarea name="country" class="form-control w-100" placeholder="Страна"  rows="1">{{this.country}}</textarea>
                        <select class="form-control w-100" name="group" >
                            <option value="{{this.groupId}}" selected hidden>Изменить группу</option>
                            <option value="1">Дирижеры</option>
                            <option value="2">Скрипачи</option>
                            <option value="3">Альтисты</option>
                            <option value="4">Виолончелисты</option>
                            <option value="5">Контрабасисты</option>
                            <option value="6">Пианисты</option>
                            <option value="7">Духовые и ударные</option>
                            <option value="8">Народные и другие</option>
                            <option value="9">Вокалисты</option>
                            <option value="10">Чтецы</option>
                        </select>
                    </form>
                    <input name='translate-form-{{this.id}}'  class='translate-button form-control' type="submit"
                            value="Перевести на остальные языки"></input>
                    <form action="/admin/artists/translate" method="post" id="translate-form-{{this.id}}" >
                        <div class="form-group">
                            <input type="hidden" name="id" value="{{this.id}}">                       
                        </div>
                    </form>
                    

                </div>

                <div class="col-12 ">
                    <div class="form-group">
                        <input name='{{this.id}}' class='delete-button form-control' class="btn btn-sm btn-secondary"
                            type="submit" value="Удалить артиста"></input>
                        <input name='edit-form-{{this.id}}' class='save-button form-control' type="submit"
                            value="Сохранить артиста"></input>
                    </div>

                </div>
            </div>
        </div>


    </div>
    {{/each}}


{{> deleteModal}}


</div>

<script type="text/javascript" src="https://code.jquery.com/color/jquery.color-2.1.2.js"></script>
<script type="text/javascript" src="/scripts/admin.js"></script>
<script>
    $(document).ready(function () {
        posterUploadSetEvent('/admin/artists/posterupload');
        deleteWithModalSetEvent('/admin/artists/delete');
        saveSetEvent("/admin/artists/edit");
        translateSetEvent('/admin/artists/translate');
    });    
</script>