<div>
    <h4 class="text-center mb-3">{{__ 'history.artdirectors.title'}}</h4>
    <div class="card-columns">
        <div class="card "> <img class="card-img-top" loading=lazy src="/img/about/artdirectors/1.jpg" alt="Card image cap">
            <div class="card-footer"><p>{{__ 'history.artdirectors.d1'}}</p></div>
        </div>
        <div class="card "> <img class="card-img-top" loading=lazy src="/img/about/artdirectors/2.jpg" alt="Card image cap">
            <div class="card-footer"><p>{{__ 'history.artdirectors.d2'}}</p></div>
        </div>
                <div class="card "> <img class="card-img-top" loading=lazy src="/img/about/artdirectors/3.jpg" alt="Card image cap">
            <div class="card-footer"><p>{{__ 'history.artdirectors.d3'}}</p></div>
        </div>
                <div class="card "> <img class="card-img-top" loading=lazy src="/img/about/artdirectors/4.jpg" alt="Card image cap">
            <div class="card-footer"><p>{{__ 'history.artdirectors.d4'}}</p></div>
        </div>
                <div class="card "> <img class="card-img-top" loading=lazy src="/img/about/artdirectors/5.jpg" alt="Card image cap">
            <div class="card-footer"><p>{{__ 'history.artdirectors.d5'}}</p></div>
        </div>
                <div class="card "> <img class="card-img-top" loading=lazy src="/img/about/artdirectors/6.jpg" alt="Card image cap">
            <div class="card-footer"><p>{{__ 'history.artdirectors.d6'}}</p></div>
        </div>
                <div class="card "> <img class="card-img-top" loading=lazy src="/img/about/artdirectors/7.jpg" alt="Card image cap">
            <div class="card-footer"><p>{{__ 'history.artdirectors.d7'}}</p></div>
        </div>
                <div class="card "> <img class="card-img-top" loading=lazy src="/img/about/artdirectors/8.jpg" alt="Card image cap">
            <div class="card-footer"><p>{{__ 'history.artdirectors.d8'}}</p></div>
        </div>
                <div class="card "> <img class="card-img-top" loading=lazy src="/img/about/artdirectors/9.jpg" alt="Card image cap">
            <div class="card-footer"><p>{{__ 'history.artdirectors.d9'}}</p></div>
        </div>
                <div class="card "> <img class="card-img-top" loading=lazy src="/img/about/artdirectors/10.jpg" alt="Card image cap">
            <div class="card-footer"><p>{{__ 'history.artdirectors.d10'}}</p></div>
        </div>
                        <div class="card "> <img class="card-img-top" loading=lazy src="/img/about/artdirectors/11.jpg" alt="Card image cap">
            <div class="card-footer"><p>{{__ 'history.artdirectors.d11'}}</p></div>
        </div>


    </div>
</div>