
<nav class="navbar sticky-top navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">
    <img id="logo" class="ml-3" src="/img/logo.png" alt="">
  </a>



  <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse nav-items" id="navbarSupportedContent">
    <ul class="navbar-nav m-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{__ 'layout.navbar.events'}}
        </a>
        <div class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/events/">{{__ 'layout.navbar.nextEvents'}}</a>
          <a class="dropdown-item" href="/events/calendar">{{__ 'layout.navbar.calendar'}}</a>
          <a class="dropdown-item" href="/events/archive">{{__ 'layout.navbar.archive'}}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{__ 'layout.navbar.about'}}
        </a>
        <div class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/about">{{__ 'layout.navbar.history'}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/about/conductor">{{__ 'layout.navbar.conductor'}}</a>
          <a class="dropdown-item" href="/about/musicians">{{__ 'layout.navbar.musicians'}}</a>
          <a class="dropdown-item" href="/about/artists">{{__ 'layout.navbar.artists'}}</a>
          <a class="dropdown-item" href="/about/composers">{{__ 'layout.navbar.composers'}}</a>                 
        </div>
      </li>
        <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{__ 'layout.navbar.media'}}
        </a>
        <div class="dropdown-menu animate slideIn" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/media/photos">{{__ 'layout.navbar.photos'}}</a>
          <a class="dropdown-item" href="/media/videos">{{__ 'layout.navbar.videos'}}</a>
          <a class="dropdown-item" href="/media/disks">{{__ 'layout.navbar.disks'}}</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/press">{{__ 'layout.navbar.press'}}</a>  
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/contacts">{{__ 'layout.navbar.contacts'}}</a>
      </li> 
    </ul>
    
    <span class='mx-3 dropdown'>
        <a class="nav-link dropdown-toggle locale-change" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="/img/icons/language-icon.png" alt="Язык">
        </a>
        <div class="dropdown-menu dropdown-menu-lang animate slideIn" aria-labelledby="navbarDropdown">
          <a class='dropdown-item locale-change' href="" id='ru'>Русский</a>
          <a class='dropdown-item locale-change' href="" id='be'>Беларуская</a>
          <a class='dropdown-item locale-change' href="" id='en'>English</a>
          <a class='dropdown-item locale-change' href="" id='de'>Deutsch</a>
          <a class='dropdown-item locale-change' href="" id='fr'>Français</a>
          
        </div>        
    </span>

  </div>
</nav>