<!DOCTYPE html>

<html lang="{{lang}}">

<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{description}}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/img/icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <meta name="yandex-verification" content="efbdd5f2407e2eb4" />
  <meta name='wmail-verification' content='92fbf99020fee1ddb77c48bbe427f152' />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
  <link rel="manifest" href="/img/icons/site.webmanifest">
  <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/img/icons/favicon.ico">
  <link rel="alternate" hreflang="x-default" href="{{fullUrl}}" />
  {{#each locales}}
  <link rel="alternate" hreflang="{{this}}" href="{{../fullUrl}}?lang={{this}}" />
  {{/each}}
  <link rel="stylesheet" href="/css/site.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
  <link href="/assets/fontawesome/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/add-to-calendar-button@1.13.2/assets/css/atcb.min.css">
  {{> analytics}}
  {{> scripts}}
  {{{_sections.head}}}

</head>

<body>
  <div id="page-container">
    {{> navbar}}
    <div id="content-wrap" class="">
      {{{body}}}
    </div>
    <br>
    {{> footer}}
  </div>
</body>

</html>
