<div class="container">

    <h4 class="text-center mb-3">{{__ 'contacts.find'}}</h4>
    

    <div class="iframe-container">
        <iframe class="responsive-iframe" src="https://yandex.ru/map-widget/v1/-/CBQ5N4bWxD" width="560" height="400"
            frameborder="0"></iframe>
    </div>


    <h4 class="text-center my-3">{{__ 'contacts.call'}}</h4>
    <div class="block  row my-1">
        <div class="col-2 p-0">
            <img class="musicians-pic" src="/img/Contacts.jpg" alt="">
        </div>
        <div class="col-10 px-4 py-1 contacts-block">
            <p>
                <a href="tel:+375173948190" target="_blank">{{__ 'contacts.admin'}}</a><br />
                <a href="tel:+375296932658" target="_blank">{{__ 'contacts.director'}}</a><br />
                <a href="tel:+375297713147" target="_blank">{{__ 'contacts.editor'}}</a><br />
                <a href="mailto:mchamberorchestra@gmail.com" target="_blank">
                     Email: mchamberorchestra@gmail.com
                </a><br>
            </p>
        </div> 

    </div>




</div>