<div class="container">

<div class="separator container"><h3>{{__ 'contacts.find'}}</h3></div>
    

    <div class="iframe-container mb-3">
        <iframe class="responsive-iframe" src="https://yandex.ru/map-widget/v1/-/CBQ5N4bWxD" width="560" height="400"
            frameborder="0"></iframe>
    </div>

<div class="separator container"><h3>{{__ 'contacts.call'}}</h3></div>
    <div class="block  row mt-1 mb-3">
        <div class="col-2 p-0">
            <img class="musicians-pic" src="/img/Contacts.jpg" alt="">
        </div>
        <div class="col-10 px-4 py-1 contacts-block">
            <p>
                <a href="tel:+375173948190" target="_blank">{{__ 'contacts.admin'}}</a><br />
                <a href="tel:+375296932658" target="_blank">{{__ 'contacts.director'}}</a><br />
                <a href="tel:+375297713147" target="_blank">{{__ 'contacts.editor'}}</a><br />
                <a href="mailto:admin@belsco.net" target="_blank">{{__ 'contacts.tech_editor'}}</a><br>
                <a href="mailto:manager@belsco.net" target="_blank">
                     Email: manager@belsco.net
                </a><br>

            </p>
        </div> 

    </div>




</div>