<div class="container">

    <h4 class="text-center mb-3">{{__ 'contacts.find'}}</h4>
    

    <div class="iframe-container">
        <iframe class="responsive-iframe" src="https://yandex.ru/map-widget/v1/-/CBQ5N4bWxD" width="560" height="400"
            frameborder="0"></iframe>
    </div>


    <h4 class="text-center my-3">{{__ 'contacts.call'}}</h4>
    <div class="block row my-1">
        <div class="col-2 p-0">
            <img class="musicians-pic" src="/img/contacts.jpg" alt="">
        </div>
        <div class="col-10 px-4 py-1">
            <p>{{__ 'contacts.address'}}<br />
                {{__ 'contacts.admin'}}<br />
                {{__ 'contacts.director'}}<br />
                {{__ 'contacts.editor'}}<br />
                Email: mchamberorchestra@gmail.com <br>
                {{__ 'contacts.tickets'}}
            </p>
        </div>

    </div>




</div>