<div class="container-fluid m-3">
<script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="https://yastatic.net/share2/share.js" async="async"></script>


    {{#each months}}
    <h4 class="text-center mb-3">{{this.name}}</h4>

    {{#each this.concerts}}
    <div class="row event-row">


        <div class="concert col-xl-8 col-md-10 offset-xl-2 offset-md-1 col-10 offset-1">
            <div id="{{this.id}}" class="row">

                <div class="col-12 col-md-4 p-0">
                    <img class="poster" src="/img/posters/{{this.id}}.jpg" alt="">
                </div>
                <div class="col-12 col-md-8 p-4">
                    <p>{{this.title}}</p>                    
                    <pre>{{this.description}}</pre>
                    <div class="ya-share2 ml-4" data-image="http://new.belsco.net/img/posters/{{this.id}}.jpg" 
                     data-title="{{this.title}}" data-url="http://new.belsco.net/events#{{this.id}}" data-services="vkontakte,twitter,facebook,odnoklassniki,viber,telegram"></div>
                    <div class="concert-day d-none d-md-block">{{this.day}}</div>
                    <div class="concert-time">{{this.time}}</div>
                    <div class="concert-place">{{this.place}}</div>
                </div>
            </div>
        </div>


    </div>
    {{/each}}

    {{/each}}



</div>