<img id="main_orchestra" srcset="img/optimized/main_orchestra/main_orchestra.jpg 2328w,
             img/optimized/main_orchestra/main_orchestra@0,75x.jpg 1747w, img/optimized/main_orchestra/main_orchestra@0,5x.jpg 1164w,
             img/optimized/main_orchestra/main_orchestra@0,25x.jpg 584w" src="img/main_orchestra.jpg"
    alt="Main orchestra photo" sizes="100vw">

<div class="container  mt-3">

    <div class=" text-center my-3">

        <div class="separator container"><h3>{{__ 'layout.index.nextevents'}}</h3></div>

        <div class="row mx-auto my-auto">
            <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel" data-interval="5000">
                <div class="carousel-inner w-100" role="listbox">

                    {{#unless triplets}}
                        {{__ 'events.noevents'}}
                    {{/unless}}

                    {{#each triplets}}
                    <div class="carousel-item">
                        <div class="row">
                            {{#each this}}
                            <div class="col-4 p-2 p-md-3">
                                <div class="card card-body">
                                    <a href="/events#{{this.id}}">
                                        <img class="img-fluid" src="/img/posters/{{this.id}}.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/each}}

                    <script>
                        document.getElementsByClassName("carousel-item")?.item(0)?.classList?.add("active");
                    </script>


                </div>
                <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon " aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="separator container"><h3>{{__ 'layout.index.news'}}</h3></div>    
    <div id="update-container" class="news-container"></div>



    <script>

        var newsContainer = $("#update-container").load("news");
    </script>

</div>