<div class="container-fluid">

    <h4 class="text-center mb-3">{{__ 'musicians.title'}}</h4>

    <div class="row musicians">

        <div class="col-xl-8 col-md-10 offset-xl-2 offset-md-1 col-10 offset-1">
            <div id="violins1" class="row group">
                <div class="col-12 col-md-6 p-0">
                    <img class="musicians-pic" src="/img/about/violins1.jpg" alt="">
                </div>
                <div class="col-12 col-md-6 px-4 py-1" >
                    
                    <h3>{{__ 'musicians.violins1'}}</h3>
                    {{#each musicians.[0]}}
                        <p>{{this.name}}</p>    
                    {{/each}}
         
                </div>
            </div>

            <div id="violins2" class="row group">
                <div class="col-12 col-md-6 p-0">
                    <img class="musicians-pic" src="/img/about/violins2.jpg" alt="">
                </div>
                <div class="col-12 col-md-6 px-4 py-1">
                    
                    <h3>{{__ 'musicians.violins2'}}</h3>
                    {{#each musicians.[1]}}
                        <p>{{this.name}}</p>    
                    {{/each}}
   
                </div>
            </div>

            <div id="violas" class="row group">
                <div class="col-12 col-md-6 p-0">
                    <img class="musicians-pic" src="/img/about/violas.jpg" alt="">
                </div>
                <div class="col-12 col-md-6 px-4 py-1">
                 
                    <h3>   {{__ 'musicians.violas'}}</h3>
                    {{#each musicians.[2]}}
                        <p>{{this.name}}</p>    
                    {{/each}}
                </div>
            </div>

            <div id="cellos" class="row group">
                <div class="col-12 col-md-6 p-0">
                    <img class="musicians-pic" src="/img/about/cellos.jpg" alt="">
                </div>
                <div class="col-12 col-md-6 px-4 py-1">
                   
                    <h3> {{__ 'musicians.cellos'}}</h3>
                    {{#each musicians.[3]}}
                        <p>{{this.name}}</p>    
                    {{/each}}
                </div>
            </div>

            <div id="bass" class="row group">
                <div class="col-12 col-md-6 p-0">
                    <img class="musicians-pic" src="/img/about/bass.jpg" alt="">
                </div>
                <div class="col-12 col-md-6 px-4 py-1">
                    
                    <h3>{{__ 'musicians.bass'}}</h3>
                    {{#each musicians.[4]}}
                        <p>{{this.name}}</p>    
                    {{/each}}
                </div>
            </div>

            <div id="piano" class="row group">
                <div class="col-12 col-md-6 p-0">
                    <img class="musicians-pic" src="/img/about/piano.jpg" alt="">
                </div>
                <div class="col-12 col-md-6 px-4 py-1">
                   
                    <h3> {{__ 'musicians.keyboards'}}</h3>
                    {{#each musicians.[5]}}
                        <p>{{this.name}}</p>    
                    {{/each}}
                </div>
            </div>









        </div>
    </div>






</div>