<div rowId="{{composer.id}}" class="row card-columns col-lg-6 col-12 searchable event-row">


    <div class="card col-11 offset-1">
        <div class="row card-header text-muted">
            Композитор {{composer.id}}
        </div>
        <div class="row card-body">
            <div class="col-12 col-md-4 p-0">
                <img class="poster" loading="lazy" src="/img/about/composers/{{composer.id}}.jpg" alt="">
                <form class="form-group" action="/admin/composers/posterupload" method="post"
                    enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{{composer.id}}">
                    <input class='form-control fileToUpload d-none' type="file" id="file-{{composer.id}}"
                        name="fileToUpload">
                    <label class="form-control text-center" for="file-{{composer.id}}">Загрузить изображение</label>
                </form>
            </div>
            <div class="col-12 col-md-8 p-0 form-container">

                <form class='form-group' action="/admin/composers/edit" id="edit-form-{{composer.id}}" method="POST">
                    <input type="hidden" name="id" value="{{composer.id}}">
                    <textarea name="name" class="saveable form-control w-100" placeholder="Имя"
                        rows="1">{{composer.name}}</textarea>
                    <textarea name="country" class="saveable form-control w-100" placeholder="Страна"
                        rows="1">{{composer.country}}</textarea>
                    <div class="saveable form-control form-check">
                        <input type="checkbox" name="isInResidence" id="isInResidence-{{composer.id}}" value='1' {{#if
                            composer.isInResidence}} checked{{else}}{{/if}}>
                        <label class="form-check-label"
                            for="isInResidence-{{composer.id}}">Композитор-inresidence</label>
                    </div>
                </form>

                <form action="/admin/composers/translate" method="post" id="translate-form-{{composer.id}}">
                    <div class="form-group">
                        <input type="hidden" name="id" value="{{composer.id}}">
                    </div>
                </form>
                <input name='translate-form-{{composer.id}}' class='translate-button form-control' type="submit"
                    value="Перевести на остальные языки"></input>

            </div>
            <div class="form-group d-flex w-100">
                <input name='{{composer.id}}' class='delete-button form-control' class="btn btn-sm btn-secondary"
                    type="submit" value="Удалить композитора"></input>
                <input name='edit-form-{{composer.id}}' class='save-button form-control' type="submit"
                    value="Сохранить композитора"></input>
            </div>
        </div>
        <div id="info-target-{{composer.id}}" class="row card-footer text-muted">
            Обновлено {{composer.updated}}
        </div>
    </div>


</div>