<div class="card searchable">
    <div class="card-header text-muted">
        {{name}}
    </div>
    <div class="card-body">
        <div class="card searchable"> <img class="card-img" loading=lazy src="{{thumbnailFolder}}{{name}}.jpg"
                alt="Card image cap">
            <input id="{{imageFolder}}{{name}}.jpg" class='delete-button form-control' type="submit"
                value="Удалить"></input>
        </div>
    </div>
</div>