<div class="image-card card searchable">
    <div class="card-header text-muted">
        <form method="post" class="rename-form" action="/admin/rename">
            <input type="hidden" name="thumbnailFolder" value="{{thumbnailFolder}}" />
            <input type="hidden" class="image-folder-input" name="imageFolder" value="{{imageFolder}}" />
            <input type="hidden" class="old-name-input" name="oldName" value="{{name}}" />
            <input type="text" name="newName" class="name-input" placeholder="Имя файла" value="{{name}}" />
        </form>
    </div>
    <div class="card-body">
        <img class="card-img" loading=lazy src="{{thumbnailFolder}}{{name}}.jpg" alt="Card image cap">
        <input id="{{imageFolder}}{{name}}.jpg" class='delete-button form-control' type="submit"
            value="Удалить"></input>
    </div>
</div>